body {
    font-family: cursive;
}
h1 {
    text-align: center;
}
#container {
    background-color: cyan;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid magenta;
    display: flex;
    flex-direction: row;
    /* flex-direction: row; (default) */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
}
#container div {
    height: 200px;
    width: 200px;
}